html, body {
  height: 100%;
  margin: 0;
}

.full-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.full-table td {
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
}

.left {
  background-color: red;
}

.right {
  background-color: blue;
}
